[Unit]
Description=CSYCMS

[Service]
User=root
Group=root
WorkingDirectory=/var/www/html/csycms
ExecStart=/var/www/html/csycms/start.sh
SyslogIdentifier=CSYCMS
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target